<!DOCTYPE html>
<!-- TODO: Add adminlang in lang= tag , RTL too-->
<html>
{% block header %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Refactor it to 'title' -->
    <title>{{ sitename }}</title>
    {% block stylesheets %}
    <!-- "<?php echo Yii::app()->getConfig('styleurl');?>favicon.ico" -->
        <link rel="shortcut icon" href="{{faviconUrl}}" type="image/x-icon" />
    <!-- <?php echo Yii::app()->getConfig('styleurl');?>favicon.ico" -->
        <link rel="icon" href="{{faviconUrl}}" type="image/x-icon" />
    {% endblock %}
{% endblock %}
