{% block loadingWrapper %}
 <!-- Loading wrapper -->
    <div id="ls-loading">
        <span id="ls-loading-spinner" class="fa fa-spinner fa-spin fa-4x"></span>
        <span class="sr-only">{{ loading | translate}}</span>
    </div>
{% endblock %}